.home-grid {
    height: 20vh;
}

#slide-container {
    height: auto;
}

.pending-session {
    border-radius: 15px;
    margin-top: 5px;
}

.session-div {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
