.svg-container.readonly {
    rect[class*="table"] {
        cursor: move !important;
    }
}

.badge-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

rect[class*="table"] {
    fill: #58a556;
    transition: all 0.5s ease;
    cursor: pointer;
    stroke-width: 4px;
    stroke: transparent;
}

rect[data-active="true"] {
    stroke: darkorange;
    fill: darkorange;
}

rect[data-selected="true"] {
    fill: darkcyan !important;
}

g {
    cursor: move;
}