/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: #616F25;
    --ion-color-primary-rgb: 97, 111, 37;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #50582b;
    --ion-color-primary-tint: #88993c;

    --ion-color-secondary: #737264;
    --ion-color-secondary-rgb: 115, 114, 100;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #525248;
    --ion-color-secondary-tint: #868577;

    --ion-colo-danger: #c5000f;

    --ion-red: #B1102D;
    --ion-green: #33AB2B;
}

:root ion-tab-button {
    --color: var(--ion-color-secondary);
    --color-selected: var(--ion-color-primary);
    --color-focused: var(--ion-color-primary);
}

:root ion-button {
    margin: 10px;
}

.qr-box {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto !important;
    left: auto !important;
}

.qr-box img {
    position: absolute;
    width: 150px !important;
    height: 150px !important;
}

.qr-box svg {
    position: absolute;
    width: 150px !important;
    height: 150px !important;
}

.qr-reader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

video{
    width: 100%;
}